.nav{
    position: fixed;
    top:0;
    display:flex;
    padding:20px;
    height:20px;
    width:100%;
    justify-content:space-evenly;
    
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    background-color: black;

    opacity: 0.8;
    align-items: center;
    opacity: 0.5;

}
.nav__black{
    background-color: black;
}
.nav__button{
     cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
   background-color:#E50914 ;
  padding-bottom: 0.5rem;
  
}
button > a{
    text-decoration: none;
    color: white;
}
.nav__button:hover{
    color: #000;
  background-color: black;
  transition: all 0.2s;
}
.nav__logo{
    position:fixed;
    left:20px;
    width: 80px;
    object-fit: contain;
}
.nav__search{
    position:fixed;
    right:120px;
}
.nav__watched{
    position: fixed;
    left:120px
}
.nav__watchlist{
    position: fixed;
    left: 250px;
}
.nav__avatar{
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
}